.header-bottom .intro-general {
  background-color: #f4f4f4;
  border-top: 2px solid #fbd534;
}

/* Background */
.inner-list li a.cuuSinhVien {
  background-color: var(--color-one);
  color: var(--color-two);
}
.inner-background {
  width: 100%;
  height: 500px;
  background-image: url(/assets/image/230820231008_qy9Xw.jpg);
  background-size: cover;
  object-fit: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.inner-background .inner-background-white {
  background-color: rgba(255, 255, 255, 0.3);
  height: 300px;
  display: flex;
  flex-direction: column;
}
.inner-background .inner-background-white h2.inner-title {
  color: #ffffff;
  font-size: 32px;
  font-weight: 300;
  padding: 0;
  margin: 0;
  padding: 24px 16px;
}
/* End Background */

.breadcrumb > p {
  text-align: left;
  margin: 28px 0;
  font-size: 14px;
}

.breadcrumb a {
  color: blue;
}

.trip {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 64px;
}

.trip .text-trip {
  width: 50%;
}

.trip .text-trip h5 {
  text-align: left;
  font-size: 42px;
  font-weight: 300;
  margin: 12px 0;
  color: #271756;
}

.trip .text-trip p {
  text-align: left;
  line-height: 1.2;
  color: #525252;
}

.trip .trip-img {
  width: 50%;
}

.trip img {
  width: 100%;
}

.trip .see-now {
  width: max-content;
  margin-left: 100%;
  transform: translateX(-100%);
  color: #524578;
  border: 1px solid #9b84e0;
  padding: 8px;
}

.club .row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.club h5 {
  text-align: left;
  font-size: 42px;
  font-weight: 300;
  color: #271756;
  margin-bottom: 32px;
}

.club .col {
  box-shadow: 4px 4px 30px #00000026;
  border-radius: 12px;
  height: 400px;
}

.club .col:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.club .col img {
  display: block;
  margin: 32px auto 16px; /* Căn giữa ảnh theo chiều ngang */
  width: 84%;
  height: 200px;
  border-radius: 12px;
}

.col-half {
  width: 50%;
}

.col-third {
  width: calc(100% / 3);
}

.club .img-title {
  text-align: left;
  margin-left: 28px;
  color: #271756;
  font-weight: bold;
}

.club .img-desc {
  text-align: left;
  margin-left: 28px;
  margin-right: 28px;
  color: #525252;
  line-height: 1.4;
}

/* .container .learn-more{
    text-align: center;
} */

.learn-more {
  display: inline-block;
  background-color: #fbd534;
  color: #525252;
  padding: 10px 12px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 40px;
  cursor: pointer;
}

.club .learn-more {
  margin-left: 50%;
  transform: translate(-50%, 0);
}

.award {
  background-image: url(../image/Vector1-486uoFcb.svg);
  background-position: right;
  background-color: #facb01;
  background-repeat: no-repeat;
  background-size: contain;
}

.award .award-title {
  position: relative;
  text-align: left;
  font-size: 42px;
  font-weight: 300;
  color: #271756;
  margin: 0;
  padding: 32px 0 24px;
  line-height: 1.4;
}

.award .award-title::after {
  content: "";
  background-color: #271756;
  display: block;
  width: 48px;
  height: 4px;
  border-radius: 4px;
  position: absolute;
  left: 0;
}

.award .col {
  position: relative;
}

.award .award-desc {
  position: absolute;
  color: #525252;
  left: 0;
  top: 30%;
}

.award .see-now {
  position: absolute;
  left: 0;
  top: 45%;
  border: 1px solid #271756;
  padding: 10px;
}

.award .row {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.award img {
  object-fit: cover;
  width: 100%;
  height: 80%;
}

.slider {
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
}

/* Hoạt động Đoàn thanh niên */
.youth-union h5 {
  position: relative;
  text-align: left;
  font-size: 42px;
  font-weight: 300;
  line-height: 1.4;
  color: #271756;
  margin: 32px 0;
}

.youth-union h5::after {
  content: "";
  background-color: #facb01;
  display: block;
  width: 48px;
  height: 4px;
  border-radius: 4px;
  position: absolute;
  left: 0;
}

.youth-union .row {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.youth-union .col {
  box-shadow: 4px 4px 30px #00000026;
  border-radius: 12px;
}

.youth-union img {
  object-fit: cover;
  min-width: 85%;
  max-height: 160px;
  border-radius: 12px;
  margin: 32px 32px;
}

.youth-union p {
  margin: 0px 36px;
  text-align: left;
  line-height: 1.4;
  margin-bottom: 20px;
}

.youth-union .img-title {
  font-size: 20px;
  color: #271756;
}

.youth-union .img-desc {
  color: #525252;
}

.youth-union .learn-more {
  margin-bottom: 40px;
  margin-top: 32px;
  margin-left: 50%;
  transform: translate(-50%, 0);
}

.text-ellipsis-2-lines {
  display: -webkit-box; /* Sử dụng kiểu box của WebKit */
  -webkit-box-orient: vertical; /* Định hướng box theo chiều dọc */
  -webkit-line-clamp: 2; /* Giới hạn số dòng tối đa là 2 */
  overflow: hidden; /* Ẩn nội dung tràn */
  text-overflow: ellipsis; /* Hiển thị dấu ba chấm */
  line-clamp: 2; /* Giới hạn số dòng tối đa là 2 (trong trường hợp hỗ trợ) */
}

.student-union .row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.student-union .student-union-title {
  position: relative;
  font-size: 42px;
  font-weight: 300;
  color: #271756;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 12px;
}

.student-union .student-union-title::after {
  content: "";
  background-color: #facb01;
  display: block;
  width: 48px;
  height: 4px;
  border-radius: 4px;
  position: absolute;
  left: 0;
}

.student-union .col {
  width: calc(100% / 3 - 20px);
  box-shadow: 4px 4px 30px #00000026;
  border-radius: 12px;
  margin-top: 24px;
}

.student-union .img-student-union {
  padding-bottom: 32px;
}

.student-union .img-student-union img {
  display: block;
  margin: 32px auto;
  width: 85%;
  object-fit: cover;
  border-radius: 12px;
}

.student-union .title-stu-union {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color: #271756;
  line-height: 1.4;
}

.student-union .title-stu-union p {
  margin-top: 0;
}

.student-union .desc-stu-union {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  color: #525252;
  line-height: 1.4;
}

.student-union .learn-more {
  margin-left: 50%;
  transform: translate(-50%, 0);
}

.student-union .learn-more p {
  margin: 0;
}

/* Cổng thông tin việc làm */
.job-oppotunity {
  padding-bottom: 16px;
  background-color: #e9e8ee;
}

.job-oppotunity .title-job-oppotunity {
  position: relative;
  font-size: 42px;
  color: #271756;
  font-weight: 300;
  line-height: 1.4;
  padding-top: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.job-oppotunity .title-job-oppotunity::after {
  content: "";
  background-color: #facb01;
  display: block;
  width: 48px;
  height: 4px;
  border-radius: 4px;
  position: absolute;
  left: 0;
}

.job-oppotunity .wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.job-oppotunity .inner-job-oppotunity {
  width: calc(100% / 3 - 20px);
  margin-top: 24px;
}

.job-oppotunity .inner-job-oppotunity img {
  width: 100%;
  height: 80%;
}

.job-oppotunity .inner-job-oppotunity p {
  margin-left: 50%;
  transform: translate(-50%, 0);
  color: #524578;
  padding: 8px;
  border: 1px solid #524578;
}

.job-oppotunity .inner-job-oppotunity i {
  font-size: 12px;
  margin-left: 16px;
  margin-right: 12px;
}

.job-oppotunity .inner-job-oppotunity p {
  width: max-content;
}


/* Responsive */
/* Mobile */
@media only screen and (max-width: 46.1875em) { 
  .inner-background {
    height: 250px;
  }
  .inner-background .inner-background-white {
    height: 50%;
  }
  .inner-background .inner-wrap h2.inner-title {
    font-size: 16px;
  }
  .trip {
    flex-direction: column;
  }
  .trip .text-trip, .trip .trip-img {
    width: 100%;
  }
  .trip .text-trip h5 {
    font-size: 20px;
    font-weight: bold;
  }
  .trip .text-trip h5::after {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: #facb01;
    border-radius: 10px;
    margin-top: 8px;
  }
  .trip .trip-img img {
    object-fit: cover;
    height: 180px;
  }
  .club .row {
    flex-wrap: wrap;
  }
  .club .col {
    width: 100%;
  }
  .club h5 {
    font-size: 20px;
    font-weight: 600;
  }
  .club h5:after {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: #facb01;
    border-radius: 10px;
    margin-top: 8px;
  }
  .award .award-title {
    font-size: 20px;
    font-weight: 500;
  }
  .award .row {
    flex-direction: column;
  }
  .award .col {
    width: 100%;
  }
  .award .col:last-child {
    bottom: 15%;
  }
  .award .see-now {
    width: max-content;
    top: 85%;
    margin-left: 100%;
    transform: translateX(-100%);
  }
  .youth-union h5 {
    font-size: 20px;
    font-weight: 600;
  }
  .youth-union .row {
    flex-direction: column;
  }
  .youth-union .col {
    width: 100%;
  }
  .youth-union .col img {
    width: 88%;
    min-height: 300px;
  }
  .student-union .student-union-title {
    font-size: 20px;
    font-weight: 600;
  }
  .student-union .row {
    flex-direction: column;
  }
  .student-union .row .col {
    width: 100%;
  }
  .job-oppotunity .title-job-oppotunity {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
  .job-oppotunity .title-job-oppotunity::after {
    left: 50%;
    transform: translateX(-50%);
  }
  .job-oppotunity .wrap {
    flex-direction: column;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .job-oppotunity .inner-job-oppotunity {
    width: 100%;
  }
} 
/* Tablet */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .inner-background {
    height: 400px;
  }
  .inner-background .inner-background-white {
    height: 50%;
  }
  .trip .text-trip h5 {
    font-size: 28px;
    font-weight: 400;
  }
  .trip .text-trip h5::after {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: #facb01;
    border-radius: 10px;
    margin-top: 8px;
  }
  .club .row {
    flex-wrap: wrap;
  }
  .club .col {
    width: calc(50% - 20px);
  }
  .club h5 {
    font-size: 28px;
    font-weight: 400;
  }
  .club h5:after {
    content: "";
    display: block;
    width: 50px;
    height: 4px;
    background-color: #facb01;
    border-radius: 10px;
    margin-top: 8px;
  }
  .award .award-title {
    font-size: 28px;
    font-weight: 400;
  }
  .youth-union h5 {
    font-size: 28px;
    font-weight: 400;
  }
  .student-union .student-union-title {
    font-size: 28px;
    font-weight: 400;
  }
  .student-union .col {
    width: calc(50% - 16px);
  }
  .job-oppotunity .title-job-oppotunity {
    font-size: 28px;
    font-weight: 400;
  }
  .job-oppotunity .inner-job-oppotunity {
    width: calc(50% - 16px);
  }
}