.text-center {
  text-align: center !important;
}

.header-bottom .intro-general {
  background-color: #f4f4f4;
  border-top: 2px solid #fbd534;
}

.header-bottom .intro-general:hover {
  opacity: 0.8;
}

/* Background */
.inner-list li a.cuuSinhVien {
  background-color: var(--color-one);
  color: var(--color-two);
}
.inner-background {
  width: 100%;
  height: 500px;
  background-image: url(/assets/image/261020230225_rAUKl.jpg);
  background-size: cover;
  object-fit: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.inner-background .inner-background-white {
  background-color: rgba(255, 255, 255, 0.3);
  height: 50%;
  display: flex;
  flex-direction: column;
}
.inner-background .inner-background-white h2.inner-title {
  color: #ffffff;
  font-size: 32px;
  font-weight: 300;
  padding: 0;
  margin: 0;
  padding: 24px 16px;
}
/* End Background */
/* Sub navigation */
.sub-nav {
  margin-top: 32px;
  margin-right: 32px;
}

.sub-nav .breadcrumb {
  padding: 0px 32px;
  font-size: 14px;
  margin-left: 6px;
}

.breadcrumb a {
  color: #0043d7;
}

.sub-nav .sub-nav-content {
  margin-left: 32px;
}

.sub-nav .sub-nav-content ul {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.sub-nav .sub-nav-content li {
  display: inline-block;
  border-bottom: 2px solid #ccc;
  font-size: 14px;
  padding: 0 2%;
  padding-top: 0px;
  padding-bottom: 10px;
  margin-top: 24px;

}

.sub-nav .sub-nav-content li:hover {
  border-bottom: 2px solid #000;
  cursor: pointer;
  font-weight: bold;
}

.sub-nav-content {
  overflow-x: scroll; /* Cho phép kéo ngang */
  white-space: nowrap; /* Không cho xuống dòng */
  scrollbar-width: none;
}

/* Content */
.content {
  margin-top: 40px;
  margin-bottom: 60px;
  padding: 0px 16px;
  text-align: center;
}

.content .content-img img {
  max-width: 700px;
  margin-top: 24px;
}

.content .content-img p {
  margin: 4px 0px;
  font-style: italic;
}

.content .sub-content {
  text-align: justify;
  text-indent: 32px;
  padding: 0px 16px;
}

.content .sub-content p {
  line-height: 1.6;
  margin-top: 24px;
}

#tab2 .sub-content {
  text-align: justify;
  text-indent: 0;
}

.content #tab1 {
  display: block;
}

#tab3 p {
  text-align: justify;
  text-indent: 32px;
}

#tab3 img {
  margin-top: 32px;
  max-width: 85%;
}

#tab3 .text-under-img {
  margin-top: 4px;
  margin-bottom: 32px;
  font-style: italic;
}

.tab-content {
  display: none; /* Ẩn tất cả các nội dung tab */
}

.active-tab {
  display: block; /* Chỉ hiển thị tab đang được chọn */
}
/* End content */

/* Learn more */
.learn-more {
  margin: 0px 32px 80px;
}

.learn-more h2 {
  font-size: 42px;
  font-weight: 300;
}

.row {
  display: flex;
  justify-content: center;
  gap: 16px; /* Khoảng cách giữa các khối */
}

.col {
  /* flex: 1 1 0;  */
  width: calc(100% / 3);
  border-radius: 12px;
  box-shadow: 4px 4px 30px #00000026;
}

.learn-more img {
  display: block;
  margin: 32px auto 16px; /* Căn giữa ảnh theo chiều ngang */
  width: 85%;
  height: 180px;
  border-radius: 12px;
  object-fit: cover;
}

.learn-more p {
  width: 85%;
  margin-top: 8px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  color: #000;
  font-weight: bold;
}
/* End learn more */

.inner-news-events .inner-title {
  text-align: left;
}

.inner-news-events .inner-title:: {
  left: 0;
}

/* Responsive */
/* Mobile */
@media only screen and (max-width: 46.1875em) { 
  .inner-background {
    height: 250px;
  }
  .inner-background .inner-background-white h2.inner-title {
    font-size: 16px;
  }
  .learn-more .row {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .learn-more .row .col {
    min-width: 100%;
  }
  .content .content-img img {
    max-width: 85%;
  }
} 
/* Tablet */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
  .inner-background {
    height: 400px;
  }
  .learn-more .row {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .learn-more .row .col {
    min-width: calc(50% - 10px)
  }
  .content .content-img img {
    max-width: 85%;
  }
}

@media (max-width: 767.98px) {
  .inner-news-events .inner-title {
    text-align: center;
  }
  .inner-news-events .inner-title::after {
    left: calc(50% - 14px);
  }
}