/* Header */
.header .header-top {
  background-color: var(--color-text);
  padding: 8px;
}
.header .header-top .container-fluid {
  padding: 0 12px;
}
.header .header-top .inner-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header .header-top .inner-wrap .header-brand {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.header .header-top .inner-wrap .header-brand img {
  width: 42px;
  height: 42px;
}
.header .header-top .inner-wrap .header-brand-text {
  margin-left: 10px;
}
.header .header-top .inner-wrap .header-brand-text p {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}
.header .header-top .inner-wrap .header-brand-text p:nth-child(1) {
  margin-bottom: 4px;
}
.header .header-top .inner-wrap .header-brand-text p:nth-child(2) {
  margin-top: 0;
  color: var(--color-one);
}
.header .header-top .inner-wrap .inner-menu .inner-list li:nth-last-child(1) {
  display: none;
}
.header .header-top .inner-wrap .inner-menu .inner-list li a.nav-link:hover {
  background-color: var(--color-hover-two);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991.98px) {
  .header .header-top .inner-wrap .inner-menu .inner-list li:nth-child(n) {
    display: none;
  }
  .header .header-top .inner-wrap .inner-menu .inner-list li:nth-last-child(1) {
    display: flex;
  }
  .header .header-top .inner-wrap .inner-menu .inner-list li:nth-last-child(2) {
    display: flex;
  }
}
.header .header-bottom {
  background-color: #ffffff;
  padding: 10px 0;
}
@media (max-width: 991.98px) {
  .header .header-bottom {
    display: none;
  }
}
/* End Header */
/* Slide-one */

.slide-one .inner-wrap {
  overflow: hidden;
}
.slide-one .inner-list-image {
  width: 100%;
  height: 500px;
  /* display: flex; */
  overflow: hidden;
}
.slide-one .inner-list-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* End Slide-one */
/* Section-one */
.section-one {
  background-color: var(--color-bg-one);
}
.section-one .inner-wrap .inner-top {
  padding: 50px 0;
}
.section-one .inner-wrap .inner-title {
  text-align: center;
  margin: 0;
  font-size: 42px;
  font-weight: 300;
  color: var(--color-text);
}
.section-one .inner-wrap .inner-list-keyword {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.section-one .inner-wrap .inner-list-keyword .inner-item {
  padding: 5px;
  border-radius: 45px;
  border: 1px solid var(--color-two);
  font-size: 12px;
  margin-right: 10px;
}
.section-one .inner-wrap .inner-list-keyword .inner-item:nth-child(4) {
  margin-right: 0px;
}
.section-one .inner-wrap .inner-list-keyword .inner-item a {
  color: var(--color-two);
}
.section-one .inner-wrap .inner-center {
  padding: 50px 0;
}
.section-one .inner-center .inner-list-cer {
  width: 100%;
  display: flex;
}
.section-one .inner-center .inner-list-cer .inner-box:nth-child(n + 5) {
  display: none;
}
.section-one .inner-center .inner-list-cer .inner-box {
  padding: 32px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.section-one .inner-center .inner-list-cer .inner-box img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.section-one .inner-center .inner-list-cer .inner-box h6 {
  color: var(--color-text);
  font-size: 16px;
  text-align: center;
  margin: 0;
  margin-top: 20px;
}
.section-one .inner-center .inner-certification {
  margin-top: 50px;
}
.section-one .inner-bottom {
  padding: 50px 0;
}
.section-one .inner-bottom .inner-list-enrollment {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.section-one .inner-bottom .inner-list-enrollment .inner-box {
  margin-top: 30px;
  width: 300px;
  height: auto;
  background-color: #ffffff;
  padding: 32px 32px 50px;
  box-shadow: 4px 4px 30px #00000026;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-one .inner-bottom .inner-list-enrollment .inner-box h3 {
  color: var(--color-text);
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}
.section-one .inner-bottom .inner-list-enrollment .inner-box a {
  border: 1px solid var(--color-hover-two);
  padding: 10px 20px;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
}
.section-one .inner-bottom .inner-list-enrollment .inner-box span {
  color: var(--color-hover-two);
}
.section-one .inner-bottom .inner-list-enrollment .inner-box a:hover {
  opacity: 1;
}
.section-one .inner-bottom .inner-list-enrollment .inner-box a img {
  width: 16px;
  height: 16px;
  color: var(--color-hover-two);
}
/* End Section-one */
/* Section-two */
.section-two {
  background-color: #ffffff;
  padding: 100px 0;
}
.section-two .inner-wrap {
  display: flex;
}

.section-two .inner-wrap .inner-image .inner-box {
  width: 500px;
  height: 350px;
  border: 4px solid var(--color-text);
  border-radius: 4px;
  position: relative;
}
.section-two .inner-wrap .inner-image .inner-box img {
  width: 500px;
  height: 350px;
  border-radius: 5px;
  position: absolute;
  top: -26px;
  left: -32px;
}
.section-two .inner-wrap .inner-content {
  margin-left: 50px;
}
.section-two .inner-wrap .inner-content .inner-title {
  margin: 0;
  font-size: 42px;
  font-weight: 300;
  color: var(--color-text);
  margin-bottom: 20px;
}
.section-two .inner-wrap .inner-content p {
  margin: 0;
  text-align: center;
  font-size: 16px;
  color: var(--color-text);
  font-weight: 600;
}
.section-two .inner-wrap .inner-content ul {
  margin: 0;
  padding: 0;
}
.section-two .inner-wrap .inner-content ul li {
  opacity: 0.8;
  color: var(--color-text);
  font-size: 16px;
  margin-top: 20px;
}
/* End Section-two */
/* Section-three */
.section-three {
  background-color: var(--color-text);
  padding: 48px 0;
}
.section-three .inner-wrap {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
.section-three .inner-wrap .inner-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-one);
  font-weight: 300;
}
.section-three .inner-wrap .inner-card .quantity {
  font-size: 54px;
  margin-bottom: 10px;
}
.section-three .inner-wrap .inner-card span {
  font-size: 28px;
}
/* End Section-three */
/* Form-sign */
.form-sign {
  background-color: #ffffff;
  padding: 48px 0;
  background-image: url(../image/bg-one.svg);
  background-size: 290px 340px;
  background-repeat: no-repeat;
  background-position: top right;
}
.form-sign .inner-wrap {
  padding: 32px 0;
}
.form-sign h3.inner-title {
  margin: 0;
  font-size: 42px;
  font-weight: 300;
  color: var(--color-text);
  margin-bottom: 20px;
  text-align: center;
  opacity: 0.9;
}
.form-sign .inner-desc {
  display: block;
  text-align: center;
  font-size: 20px;
  color: var(--color-text);
  opacity: 0.9;
}
.form-sign .inner-list-form {
  padding: 40px 0 0;
  display: flex;
  flex-wrap: wrap;
}
.form-sign .inner-list-form .inner-fullname {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.form-sign .inner-list-form label {
  color: var(--color-four);
  font-size: 12px;
  margin-bottom: 10px;
}
.form-sign .inner-list-form .inner-font-form {
  background-color: var(--color-three);
  border: 0px;
  padding: 10px 12px;
  border-bottom: 1px solid var(--color-four);
  margin-bottom: 20px;
}
.form-sign .inner-list-form .inner-fullname .inner-font-form {
  margin-right: 50px;
}
.form-sign .inner-list-form input:focus {
  border: 2px solid var(--color-one);
  outline: none;
}
.form-sign .inner-list-form .inner-email {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.form-sign .inner-list-form .inner-textarea {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form-sign .inner-list-form .inner-text {
  background-color: var(--color-three);
  border: 0px;
  padding: 12px 16px;
  border-bottom: 1px solid var(--color-four);
}
.form-sign .inner-list-form textarea:focus {
  outline: none;
  border: 2px solid var(--color-one);
}

.form-sign .inner-list-form .button {
  display: inline;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}
/* End Form-sign */
/* Study-school */
.study-school {
  background-color: var(--color-bg-three);
  background-image: url(../image/bg-two.svg);
  background-size: 400px 400px;
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 64px 0;
}
.study-school .inner-wrap {
  padding: 32px 0;
}
.study-school .inner-title {
  font-size: 42px;
  font-weight: 300;
  color: var(--color-text);
  margin: 0;
  text-align: center;
}
.study-school .inner-slide-study {
  padding: 12px;
  display: flex;
}
.study-school .inner-slide-study .inner-item:nth-child(n + 2) {
  display: none;
}
.study-school .inner-slide-study .inner-content {
  margin-bottom: 40px;
  color: var(--color-text);
  font-size: 16px;
  display: inline-block;
  text-align: center;
}
.study-school .inner-slide-study .inner-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.study-school .inner-slide-study .inner-information .inner-image {
  width: 150px;
  height: 150px;
  overflow: hidden;
}
.study-school .inner-slide-study .inner-information .inner-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.study-school .inner-slide-study .inner-information .inner-fullname {
  margin: 0;
  margin-top: 16px;
  color: var(--color-text);
  font-size: 20px;
  font-weight: 300;
}
.study-school .inner-slide-study .inner-information span {
  margin-top: 5px;
  color: var(--color-text);
  font-size: 16px;
}
/* End Study-school */
/* inner-Partner */
.inner-partner {
  background-color: var(--color-bg-one);
  margin-bottom: 32px;
}
.inner-partner .inner-wrap {
  padding: 48px 32px;
}
.inner-partner .inner-title {
  color: var(--color-text);
  font-size: 42px;
  font-weight: 300;
  text-align: center;
  margin: 0;
}
.inner-partner .inner-list-partner {
  display: flex;
  padding: 12px;
  justify-content: space-between;
  width: 1000px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.inner-partner .inner-list-partner .inner-item {
  overflow: hidden;
  margin-right: 30px;
  height: 60px;
  width: auto;
}
.inner-partner .inner-list-partner .inner-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* End inner-Partner */
/* inner-News-Events */
.inner-news-events {
  background-color: var(--color-bg-four);
  background-image: url(../image/bg-one.svg);
  background-size: 290px 340px;
  background-repeat: no-repeat;
  background-position: top right;
  padding: 40px 0;
}
.inner-news-events .inner-title {
  font-size: 42px;
  color: var(--color-text);
  font-weight: 400;
  text-align: center;
  margin: 0;
}
.inner-news-events .list-box {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
}
.inner-news-events .inner-box {
  width: 50%;
  height: 500px;
  background-color: #ffffff;
  padding: 32px;
  border-radius: 20px;
}
.inner-news-events .inner-box .inner-image {
  width: 100%;
  height: 60%;
}
.inner-news-events .inner-box .inner-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.inner-news-events .inner-box .inner-desc {
  margin: 0;
  font-size: 16px;
  color: var(--color-text);
  font-weight: 500;
  margin-top: 20px;
  text-align: justify;
}
.inner-news-events .inner-box-list {
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.inner-news-events .inner-box-list .inner-box-item {
  width: 100%;
  height: 30%;
  padding: 32px;
}
.inner-news-events .inner-box-list .inner-box-item a {
  display: flex;
  justify-content: space-between;
}
.inner-news-events .inner-box-list .inner-box-item .inner-image {
  width: 20%;
  height: 100%;
}
.inner-news-events .inner-box-list .inner-box-item .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* End inner-News-Events */
