/* Header */
.header .header-top {
  background-color: var(--color-text);
  padding: 8px;
}
.header .header-top .container-fluid {
  padding: 0 12px;
}
.header .header-top .inner-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header .header-top .inner-wrap .header-brand {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.header .header-top .inner-wrap .header-brand img {
  width: 42px;
  height: 42px;
}
.header .header-top .inner-wrap .header-brand-text {
  margin-left: 10px;
}
.header .header-top .inner-wrap .header-brand-text p {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
}
.header .header-top .inner-wrap .header-brand-text p:nth-child(1) {
  margin-bottom: 4px;
}
.header .header-top .inner-wrap .header-brand-text p:nth-child(2) {
  margin-top: 0;
  color: var(--color-one);
}
.header .header-top .inner-wrap .inner-menu .inner-list li:nth-last-child(1) {
  display: none;
}
.header .header-top .inner-wrap .inner-menu .inner-list li a.nav-link:hover {
  background-color: var(--color-hover-two);
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991.98px) {
  .header .header-top .inner-wrap .inner-menu .inner-list li:nth-child(n) {
    display: none;
  }
  .header .header-top .inner-wrap .inner-menu .inner-list li:nth-last-child(1) {
    display: flex;
  }
  .header .header-top .inner-wrap .inner-menu .inner-list li:nth-last-child(2) {
    display: flex;
  }
}
.header .header-bottom {
  background-color: #ffffff;
  padding: 10px 0;
}
@media (max-width: 991.98px) {
  .header .header-bottom {
    display: none;
  }
}
/* End Header */
/* Slide-one */

.slide-one .inner-wrap {
  overflow: hidden;
}
.slide-one .inner-list-image {
  width: 100%;
  height: 500px;
  /* display: flex; */
  overflow: hidden;
}
.slide-one .inner-list-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* End Slide-one */
/* Section-one */
.section-one {
  background-color: var(--color-bg-one);
}
.section-one .inner-wrap .inner-top {
  padding: 50px 0;
}
.section-one .inner-wrap .inner-title {
  text-align: center;
  margin: 0;
  font-size: 42px;
  font-weight: 300;
  color: var(--color-text);
}
.section-one .inner-wrap .inner-list-keyword {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.section-one .inner-wrap .inner-list-keyword .inner-item {
  padding: 5px;
  border-radius: 45px;
  border: 1px solid var(--color-two);
  font-size: 12px;
  margin-right: 10px;
}
.section-one .inner-wrap .inner-list-keyword .inner-item:nth-child(4) {
  margin-right: 0px;
}
.section-one .inner-wrap .inner-list-keyword .inner-item a {
  color: var(--color-two);
}
.section-one .inner-wrap .inner-center {
  padding: 50px 0;
}
.section-one .inner-center .inner-list-cer {
  width: 100%;
  display: flex;
}
.section-one .inner-center .inner-list-cer .inner-box:nth-child(n + 5) {
  display: none;
}
.section-one .inner-center .inner-list-cer .inner-box {
  padding: 32px;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.section-one .inner-center .inner-list-cer .inner-box img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.section-one .inner-center .inner-list-cer .inner-box h6 {
  color: var(--color-text);
  font-size: 16px;
  text-align: center;
  margin: 0;
  margin-top: 20px;
}
.section-one .inner-center .inner-certification {
  margin-top: 50px;
}
.section-one .inner-bottom {
  padding: 50px 0;
}
.section-one .inner-bottom .inner-list-enrollment {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}
.section-one .inner-bottom .inner-list-enrollment .inner-box {
  margin-top: 30px;
  width: 300px;
  height: auto;
  background-color: #ffffff;
  padding: 32px 32px 50px;
  box-shadow: 4px 4px 30px #00000026;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-one .inner-bottom .inner-list-enrollment .inner-box h3 {
  color: var(--color-text);
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}
.section-one .inner-bottom .inner-list-enrollment .inner-box a {
  border: 1px solid var(--color-hover-two);
  padding: 10px 20px;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
}
.section-one .inner-bottom .inner-list-enrollment .inner-box span {
  color: var(--color-hover-two);
}
.section-one .inner-bottom .inner-list-enrollment .inner-box a:hover {
  opacity: 1;
}
.section-one .inner-bottom .inner-list-enrollment .inner-box a img {
  width: 16px;
  height: 16px;
  color: var(--color-hover-two);
}
/* End Section-one */
/* Section-two */
.section-two {
  background-color: #ffffff;
  padding: 100px 0;
}
.section-two .inner-wrap {
  display: flex;
}

.section-two .inner-wrap .inner-image .inner-box {
  width: 500px;
  height: 350px;
  border: 4px solid var(--color-text);
  border-radius: 4px;
  position: relative;
}
.section-two .inner-wrap .inner-image .inner-box img {
  width: 500px;
  height: 350px;
  border-radius: 5px;
  position: absolute;
  top: -26px;
  left: -32px;
}
.section-two .inner-wrap .inner-content {
  margin-left: 50px;
}
.section-two .inner-wrap .inner-content .inner-title {
  margin: 0;
  font-size: 42px;
  font-weight: 300;
  color: var(--color-text);
  margin-bottom: 20px;
}
.section-two .inner-wrap .inner-content p {
  margin: 0;
  text-align: center;
  font-size: 16px;
  color: var(--color-text);
  font-weight: 600;
}
.section-two .inner-wrap .inner-content ul {
  margin: 0;
  padding: 0;
}
.section-two .inner-wrap .inner-content ul li {
  opacity: 0.8;
  color: var(--color-text);
  font-size: 16px;
  margin-top: 20px;
}
/* End Section-two */
/* Section-three */
.section-three {
  background-color: var(--color-text);
  padding: 48px 0;
}
.section-three .inner-wrap {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}
.section-three .inner-wrap .inner-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-one);
  font-weight: 300;
}
.section-three .inner-wrap .inner-card .quantity {
  font-size: 54px;
  margin-bottom: 10px;
}
.section-three .inner-wrap .inner-card span {
  font-size: 28px;
}
/* End Section-three */
