/* Menu-left */
.menu-left {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    display: none;
    transition: left 5s ease;
  }
  .menu-left .menu-left-color {
    background-color: var(--color-text);
    width: 330px;
    height: 100vh;
    overflow-y: auto;
  }
  .menu-left .inner-wrap .header-brand {
    display: flex;
    align-items: center;
    padding: 17px 15px 0;
  }
  .menu-left .inner-wrap .header-brand img {
    width: 42px;
    height: 42px;
  }
  .menu-left .inner-wrap .header-brand-text {
    margin-left: 10px;
  }
  .menu-left .inner-wrap .header-brand-text p {
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .menu-left .inner-wrap .header-brand-text p:nth-child(1) {
    margin-bottom: 4px;
  }
  .menu-left .inner-wrap .header-brand-text p:nth-child(2) {
    margin-top: 0;
    color: var(--color-one);
  }
  .menu-left .inner-menu-left ul.inner-list-left {
    padding: 0;
    margin: 0;
    margin-top: 20px;
  }
  
  .menu-left .inner-menu-left ul.inner-list-left li.inner-item a {
    color: var(--color-one);
    font-size: 16px;
    font-weight: 300;
    display: block;
    width: 100%;
    height: 100%;
    padding: 15px 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu-left .inner-menu-left ul.inner-list-left li.inner-item a span {
    /* position: absolute; */
  }
  .menu-left .inner-menu-left ul.inner-list-left li.inner-item {
    position: relative;
  }
  .menu-left .inner-menu-left ul.inner-list-left li.inner-item i {
    color: #ffffff;
    position: absolute;
    right: 25px;
    top: 9px;
    cursor: default;
    /* padding: 10px 10px 10px 30px; */
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
    transform-origin: center;
  }
  .menu-left .inner-menu-left ul.inner-list-left li.inner-item i.up {
    transform: rotate(180deg);
  }
  .menu-left .inner-menu-left ul.inner-list-left li.inner-item a:hover {
    background: var(--color-one);
    color: var(--color-text);
    font-weight: 600;
  }
  .menu-left .inner-menu-left ul.inner-list-left li.inner-item ul.menu-nav-link {
    padding: 0;
    margin: 0;
    display: none;
    /* margin-left: 30px; */
  }
  .menu-left
    .inner-menu-left
    ul.inner-list-left
    li.inner-item
    ul.menu-nav-link
    li {
    margin: 0;
    padding: 0;
  }
  .list-gtc,
  .list-train,
  .list-ds,
  .list-sv,
  .list-csv,
  .list-nc,
  .list-ddt,
  .list-nb {
    display: none;
  }
  .list-show-ds,
  .inner-show-gtc,
  .inner-show-dt,
  .inner-show-sv,
  .inner-show-csv,
  .inner-show-nc,
  .inner-show-ddt,
  .inner-show-nb {
    transition: transform 0.3s;
  }
  .active {
    background-color: var(--color-one);
    color: var(--color-text);
    font-weight: 600;
  }
  .menu-left .inner-menu-left ul.inner-list-left li.inner-item a.active {
    color: var(--color-text);
    font-weight: 600;
  }
  .menu-left
    .inner-menu-left
    ul.inner-list-left
    li.inner-item
    ul.menu-nav-link
    li
    a {
    width: 100vh;
    height: 100%;
    padding-left: 70px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2em;
    /* overflow: hidden; */
  }
  .menu-left
    .inner-menu-left
    ul.inner-list-left
    li.inner-item
    ul.menu-nav-link
    li
    a:hover {
    background-color: #fef8f872;
    color: var(--color-one);
    padding-left: 65px;
    border-left: 5px solid var(--color-one);
  }
  /* End Menu-left */